<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I'm a passionate game developer with a strong foundation in C++, C#, and TypeScript. 
          I love bringing game concepts to life, transforming ideas into playable experiences that evoke emotions in players. 
          I'm always eager to learn and improve my skills, exploring new technologies and programming techniques to create engaging and immersive games.</p>
      </div>
      <div class="col-lg-4">
        <p>Here you can find some of the projects and games I have developed during my studies and work experience. 
          Stay tuned for more!</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
